<nav class="navbar align-items-center p-5">
    <h2 class="h4 mb-0 fw-bold me-6">Admin</h2>
    <button type="button" class="btn btn-link d-flex align-items-center text-decoration-none text-body fw-bold">
        <span class="material-icons text-primary me-2"> add </span>Add New Admin
    </button>
    <div class="btn-group ms-auto">
        <button type="button" class="btn btn-link text-body"><span class="material-icons"> search </span></button>
        <button type="button" class="btn btn-link text-body"><span class="material-icons">
                notifications_active</span></button>
    </div>
</nav>