<div class="d-flex flex-column flex-shrink-0 bg-body-tertiary min-vh-100" style="width: 296px;">
    <a href="/" class="navbar-brand p-5">
        <img src="../assets/images/logo-ANSWER.svg" alt="ANSWER logo" width="150" height="40" />
    </a>
    <ul class="navbar-nav flex-column mb-auto fw-bold">
        <li class="nav-item">
            <a href="#" class="nav-link px-5">
                <span class="material-icons me-3 align-middle">insert_chart</span>Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link px-5">
                <span class="material-icons me-3 align-middle"> forum </span>Question
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link px-5">
                <span class="material-icons me-3 align-middle"> assignment </span>Assignment
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link px-5">
                <span class="material-icons me-3 align-middle"> video_library </span>Course
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link px-5 active" aria-current="page">
                <span class="material-icons me-3 align-middle">group</span>Admin
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link px-5">
                <span class="material-icons me-3 align-middle"> settings </span>Settings
            </a>
        </li>
    </ul>

    <div class="d-flex align-items-center p-5">
        <img src="../assets/images/andychen.jpeg" alt="AndyChen image" width="40" height="40" class="rounded-circle">
        <div class="ms-3">
            <h6 class="mb-0 fw-bold">
                Andy Chen
            </h6>
            <small class="text-secondary">andy0401@mail.com</small>
        </div>
    </div>

</div>